.creation
{
  border-collapse: collapse;
  text-align: center;
  display: inline-table;
  border: solid 4px;
  border-color: rgb(0, 0, 156);
  background-color: rgba(163, 207, 75, 0.315);
  table-layout: auto;
  overflow: visible;
  max-width: 50%;
  margin-left: 5%;
  color:blanchedalmond;
}

.creation th, .creation td
{
  border: solid 3px;
  border-color: blueviolet;
}


.tableau_mj
{
  position: relative;
  left: 15%;
  width: 70%;
  border-collapse: collapse;
  text-align: center;
  border: solid 4px;
  border-color: rgb(0, 0, 156);
  background-color: rgba(163, 207, 75, 0.315);
  overflow: visible;
}

.tableau_mj th, .tableau_mj td
{
  border: solid 3px;
  border-color: blueviolet;
}

.nom_classe
{
  font-size: larger;
  font-weight: 1000;
}

.Accueil_main
{
  position: relative; 
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 150%;
  background-image: url(images/Body_Accueil.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  padding: 3%;
}

.accueil_footer
{
  background-color: rgb(255, 211, 122);
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  height: 70px;
  text-align: center;
}

.page_footer
{
  background-color: rgb(255, 211, 122);
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  height: 50px;
  text-align: center;
}

input
{
    width:15%;

}

input:invalid
{
  border: 2px solid red;
}
  
input:valid {
  border: none;
}

h1, h2
{
  text-align:center;
  background-image: url("images/Bandeau.png");
  background-position: center;
  background-repeat: no-repeat;

}

header{
  text-align: center;
}

.logo_efrei
{
  position: absolute;
  left:60px;
  width:75px;
  bottom:10px;
}

.logo_footer
{
  position:absolute;
  left:0;
}

.mj_form
{
  background-color: rgba(153, 153, 153, 0.363);
  margin:30px;
  padding: 10px;
  text-align:center;
  border: solid 3px black;
}

.form_lance_de
{
  position: fixed;
  right:5%;
  bottom:20%;
  top:20%;
  left:60%;

  background-color: rgba(255, 0, 0, 0.63);

  padding:10px;
  color:white;

  font-size: 2vmin;

}

.button_lance_de
{
  background-color: rgb(241, 213, 213);
  border-color: blue;
  color:black;
  position: absolute;
  bottom:10px;
  left:35%;
  width:30%;
  transition: background-color 1s, border-color 1s, color 1s  ;
}

.button_lance_de:hover
{
  background-color: black;
  border-color: white;
  color: white;
}

.de1
{
  position: absolute;
  left:15%;
  width:10%;
  top:45%;
  display: none;
}

.de2
{
  position: absolute;
  left:30%;
  width:10%;
  top:45%;
  display: none;
}

.de3
{
  position: absolute;
  left:45%;
  width:10%;
  top:45%;
  display: none;
}

.de4
{
  position: absolute;
  left:60%;
  width:10%;
  top:45%;
  display: none;
}

.de5
{
  position: absolute;
  left:75%;
  width:10%;
  top:45%;
  display: none;
}

.tableau_res
{
  position: absolute;
  left:40%;
  width:20%;
  top:60%;
  background-color: blanchedalmond;
  text-align: center;
}

.tableau_res td{
  color:black;
  border: solid 3px black;
}

.cartes_form{
  text-align: center;
}

.cartes{
  position: absolute;
  left: 10%;
  width: 80%;
  margin-top:5%;
  margin-bottom:15%;
  display: none;
}

.carte_dep{
  position: absolute;
  left: 10%;
  width: 80%;
  margin-top:5%;
  margin-bottom:15%;
}

.img_perso{
  object-fit: contain;
  height: 100%;
  width: 100%;
}